<div>



  <div class="row">
        <div class="col-sm-3 col-md-4" ng-repeat="contact in contacts | filter:someRandomText ">
        <i class="fa fa-window-close-o" aria-hidden="true" ng-click="remove(contact.id)"></i>
          <div class="thumbnail">

            <!-- <img class="image" ng-src="{{product.image}}" alt="..." > -->
            <div class="caption">
              <h3>{{contact.name}}</h3>
              <p>{{contact.email}}</p>
              <p>{{contact.phone}}</p>
              <p>{{contact.website}}</p>
            </div>
          </div>
        </div>
  </div>


</div>


<!--   -->