<div class="page-header">

	<div class="row header-contact">
		<button type="button" class="btn btn-primary"><a href="/#/contacts">BACK</a></button>
	</div>

	<form name="contactForm" novalidate>
	<!-- novalidate prevents HTML5 validation since we will be validating ourselves -->
		<button type="submit" class="btn btn-info align" ng-click="contactForm.$valid && edit(contact) " ng-hide="changeText">{{buttonText}}</button>

		<h3 ng-hide="!editContact">{{contact.name}}</h3>
	    <input type="text" class="customIn" name="name" type="text" ng-hide="editContact" ng-model="contact.name" required>
	    <p class="help-block" ng-show="contactForm.name.$invalid">Valid Name Required</p>
	    <div ng-hide="!editContact">{{contact.email}}</div>
	    <input type="email"  class="customIn" name="email"  type="text" ng-hide="editContact" ng-model="contact.email" required>
	    <p class="help-block" ng-show="contactForm.email.$invalid">Valid Email Required</p>
	</form>


	<!-- <div>{{test.newVal}}</div>
    <div>{{test.oldVal}}</div> -->

</div>

